
:root{
  --purple:#040404;
  --pink:#330e60;
  --gradient: #306aff;
}


*::selection{
  color: #6c63ff;
  background: #171717;
}
html{
  font-size: 62.5%;
  overflow-x: hidden;
}
body{
  background: #f9f9f9;
}
section{
  min-height: 100%;
  padding: 0 9%;
  padding-top: 7.5rem;
  padding-bottom: 0;
}

.action-btn{
  display: inline-block;
  margin-top: 1rem;
  padding: 0rem 3rem;
  border-radius: 3rem;
  background: var(--gradient);
  font-size: 2.3rem;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
  transition: all .3s linear;
}
.action-btn:hover{
  transform: scale(1.1);
}
.offers-heading{
  text-align: center;
  background: var(--gradient);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 3.5rem;
  text-transform: capitalize;
  padding: 1rem;
}
header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #fff;
  background: 0 .5rem 1rem rgba(0,0,0,.1);
  padding: 2rem 9%;
  display: flex;
  align-content: center;
  justify-content: space-between;
  z-index: 1000;
}
header .logo{
  width: 60px;
  height: 30px;
}
header .logo span{
  color: var(--pink);
}
header .navbar a{
  font-size: 1.7rem;
  margin-left: 2rem;
  color: var(--purple);
  text-decoration: none;
  list-style: none;
  display: inline-block;
}
header .navbar a::after{
  content: '';
  width: 0%;
  height: 2px;
  background: var(--pink);
  display: block;
  margin: auto;
  transition: 0.5s
}
header .navbar a:hover::after{
  width: 100%;
}
header input{
  display: none;
}
header label {
  font-size: 4rem;
  cursor: pointer;
  color: var(--purple);
  visibility: hidden;
  opacity: 0;

}
.home{
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(./images/background.png);
  background-size: cover;
  background-position: center;
}
.home .image img{
  width: 40vh;
  animation: float 3s linear infinite;
  border-radius: 50%;
}

@keyframes float{
  0%, 100%{
    transform: translateY(0rem);
  }
  50%{
    transform: translateY(-3.5rem);
  }
}

.home .content h3{
  font-size: 5.5rem;
  color: #444;
  text-transform: uppercase;
}
.home .content h3 span{
  color: var(--pink);
  text-transform: uppercase;
}
.home .content p{
  font-size: 1.7rem;
  color: #777;
  padding: 1rem 0;
}



.offers .offers-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.offers .offers-container .box{
  flex: 1 1 1rem;
  background: #fff;
  border-radius: .5rem;
  border: .1rem solid rgba(0,0,0,0.2);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  margin: .5rem;
  padding: 1rem 2rem;
  border-radius: .5rem;
  text-align: center;
  transition:  .2s linear;
}

.offers .offers-container .box img{
  height: 15rem;
}
.offers .offers-container .box h3{
  font-size: 2rem;
  color: #444;
  padding-top: 1rem;
}
.offers .offers-container .box p{
  font-size: 1.3rem;
  color: #777;
  padding: 1rem 0;
}
.offers .offers-container .box i{
   color: #306aff;
   opacity: 1;
}
.phaxad-more .column{
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}
.phaxad-more .column .image{
  flex: 1 1 40rem;
}
.phaxad-more .column .image img{
  width: 80%;
}

.phaxad-more .column .content{
  flex: 1 1 40rem;
}
.phaxad-more .column .content h3{
  font-size: 3rem;
  color: #666;
}

.phaxad-more .column .content p{
  font-size: 1.5rem;
  color: #777;
  padding: 1rem 0;
}
.phaxad-more .column .content .buttons a:last-child{
  margin-left: 2rem;
}
.row{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.offers-col{
  flex-basis: 31%;
  background: linear-gradient(50deg,#000,#330e60);
  color: #fff;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: 0.5s;
}
 .offers-col h3{
  text-align: center;
  font-weight: 600;
  margin: 10px 0;
}
.offers-col:hover{
  box-shadow: 0 0 20px 0px rgba(0,0,0,0,0.2);
}
.offers-col p{
  color: #fff;
}
.blog-direction{
  margin: 100px auto;
  width: 80%;
  background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/giphy_003.gif);
  background-position: center;
  background-size: cover;
  border-radius: 10px;
  text-align: center;
  padding: 100px 0;
}
.blog-direction h1{
  color: #fff;
  margin-bottom: 40px;
  padding: 0;
}
/* media Queries */
@media(max-width: 700px){
  .row{
    flex-direction: column;
  }
}
@media(max-width: 1200px){
  html{
    font-size: 55%;
  }
}


@media(max-width: 991px){
  section{
    opacity: 0 3%;
    padding-top: 7.5rem;
  }
}
@media(max-width: 768px){
  header label{
    visibility: visible;
    opacity: 1;
  }
  header .navbar{
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background: #fff;
    padding:1rem 2rem;
    border-top: .1rem solid rgba(0,0,0,.2);
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
    transition: .3s linear;
  }
  header .navbar a{
    display: block;
    margin: 2rem 0;
    font-size: 2rem;
    align-items: center;
    text-align: center;
  }
  header input:checked ~ .navbar{
    transform: scaleY(1);
    opacity: 1;
  }
  header input:checked ~ label::before{
    content: '\f00d';
  }
  .home{
    flex-flow: column-reverse;
  }
  .home .image img{
    width: 100%;
  }
  .home .content h3{
    font-size: 3.6rem;
  }
  .home .content p{
    font-size: 1.5rem;
  }
  .phaxad-more{
    background-position: right; 
  }
}
@media (max-width: 450px){
  html{
    font-size: 50%;
  }
  .phaxad-more .column .content .buttons a{
    width: 100%;
    text-align: center;  
  }
  .phaxad-more .column .content .buttons a:last-child{
    margin: 1rem 0; 
  }
}


.developers-reviews .reviews-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.developers-reviews .reviews-container .box{
  background: #fff;
  margin: 1rem;
  padding: 1rem;
  text-align: center;
  position: relative;
  border: .1rem solid rgba(0,0,0,.2);
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  flex: 1 2 20rem;
  border-radius: .5rem;
}
.developers-reviews .reviews-container .box .bi-arrow-up-right-circle-fill{
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 8rem;
  color: var(--pink);
  opacity: .3;
}
.developers-reviews .reviews-container .box .user img{
  border-radius: 50%;
  object-fit: cover;
  height: 7rem;
  width: 7rem;
  margin-top: 2rem;
}
.developers-reviews .reviews-container .box .user h3{
  color: var(--pink);
  font-size: 2rem;
}

.developers-reviews .reviews-container .box .user .stars i{
  color: var(--purple);
  font-size: 1.5rem;
  padding: 1rem 0;
}
.developers-reviews .reviews-container .box .review{
  color: #777;
  font-size: 1.4rem;
  padding: 1rem;
}

.pricings .pricings-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.pricings .pricings-container .box{
  flex: 1 1 27rem;
  margin: 1rem;
  padding: 1rem;
  background: #fff;
  border: 1px solid #306aff;
  box-shadow: 0 .5rem 1rem rgba(1,1,0.1);
  border-radius: .5rem;
  text-align: center;
  padding-bottom: 3rem;
}
.pricings .pricings-container .box:nth-child(2),
.pricings .pricings-container .box:hover{
  border: .2rem solid #306aff;
}
.pricings .pricings-container .box .title{
  color: var(--purple);
  font-size: 2.5rem;
  padding-top: 1rem;
}
.pricings .pricings-container .box .pricetag{
  font-size: 3rem;
  color: var(--pink);
  padding: 1rem 0;
}
.pricings .pricings-container .box .pricetag span{
  font-size: 2rem; 
}
.pricings .pricings-container .box ul{
  padding: 1rem 0;
  list-style: none;
}
.pricings .pricings-container .box ul li{
  font-size: 1.9rem;
  color:#777;
  padding: .5rem 0;
  display: flex;
}
.pricings .pricings-container .box ul li i{
  padding-right: 2rem;
}
.pricings .pricings-container .box ul li .fa-check,
.pricings .pricings-container .box ul li .bi-check-circle-fill,.fa-checks{
  color: lightgreen;
  margin-left: 1rem;
}
.pricings .pricings-container .box ul li .fa-times,
.pricings .pricings-container .box ul li .bi-x-circle-fill{
  color: tomato;
  margin-left: 1rem;
}



.hero-waves {
  display: block;
  margin-top: 60px;
  width: 100%;
  height: 60px;
  z-index: 5;
  position: relative;
}

.wave1 use {
  -webkit-animation: move-forever1 8s linear infinite;
  animation: move-forever1 8s linear infinite;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.wave2 use {
  -webkit-animation: move-forever2 8s linear infinite;
  animation: move-forever2 8s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.wave3 use {
  -webkit-animation: move-forever3 6s linear infinite;
  animation: move-forever3 6s linear infinite;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

@-webkit-keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}

@keyframes move-forever1 {
  0% {
    transform: translate(85px, 0%);
  }
  100% {
    transform: translate(-90px, 0%);
  }
}
@-webkit-keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever2 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@-webkit-keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
@keyframes move-forever3 {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}





.features .icon-box {
  display: flex;
  align-items: center;
  padding: 20px;
  background: #f5f5ff;
  transition: ease-in-out 0.3s;
}
.features .icon-box i {
  font-size: 32px;
  padding-right: 10px;
  line-height: 1;
}
.features .icon-box h3 {
  font-weight: 700;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 16px;
}
.features .icon-box h3 a {
  color: #010483;
  transition: ease-in-out 0.3s;
}
.features .icon-box h3 a:hover {
  color: #01036f;
}
.features .icon-box:hover {
  background: #ebebff;
}
.know-btn{
  background:  linear-gradient(90deg, #306aff,  #33358b);
  font-size: 2rem;
  color: #fff;
}
.know-btn:hover{
  text-decoration: none;
}
.counts {
  background: #f5f5ff;
  padding: 70px 0 60px;
}
.counts .count-box {
  padding: 30px 30px 25px 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: #fff;
}
.counts .count-box i {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 20px;
  background: #1acc8d;
  padding: 12px;
  color: #fff;
  border-radius: 50px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  line-height: 0;
  width: 48px;
  height: 48px;
}
.counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #010483;
}
.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}


.details .content + .content {
  margin-top: 100px;
}
.details .content h3 {
  font-weight: 600;
  font-size: 26px;
  color: #010483;
}
.details .content ul {
  list-style: none;
  padding: 0;
}
.details .content ul li {
  padding-bottom: 10px;
}
.details .content ul i {
  font-size: 20px;
  padding-right: 4px;
  color: #1acc8d;
}
.details .content p:last-child {
  margin-bottom: 0;
}


.testimonials {
  padding: 80px 0;
  background: url("../blog/img/cta-bg.jpg") no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
}
.testimonials::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(1, 3, 111, 0.8);
}
.testimonials .section-header {
  margin-bottom: 40px;
}
.testimonials .testimonials-carousel, .testimonials .testimonials-slider {
  overflow: hidden;
}
.testimonials .testimonial-item {
  text-align: center;
  color: #fff;
}
.testimonials .testimonial-item .testimonial-img {
  width: 100px;
  border-radius: 50%;
  border: 6px solid rgba(255, 255, 255, 0.15);
  margin: 0 auto;
}
.testimonials .testimonial-item h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0 5px 0;
  color: #fff;
}
.testimonials .testimonial-item h4 {
  font-size: 14px;
  color: #ddd;
  margin: 0 0 15px 0;
}
.testimonials .testimonial-item .quote-icon-left, .testimonials .testimonial-item .quote-icon-right {
  color: rgba(255, 255, 255, 0.4);
  font-size: 26px;
}
.testimonials .testimonial-item .quote-icon-left {
  display: inline-block;
  left: -5px;
  position: relative;
}
.testimonials .testimonial-item .quote-icon-right {
  display: inline-block;
  right: -5px;
  position: relative;
  top: 10px;
}
.testimonials .testimonial-item p {
  font-style: italic;
  margin: 0 auto 15px auto;
  color: #eee;
}
.testimonials .swiper-pagination {
  margin-top: 20px;
  position: relative;
}
.testimonials .swiper-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.4);
}
.testimonials .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #1acc8d;
}
@media (min-width: 1024px) {
  .testimonials {
    background-attachment: fixed;
  }
}
@media (min-width: 992px) {
  .testimonials .testimonial-item p {
    width: 80%;
  }
}

/*--------------------------------------------------------------
# Team
--------------------------------------------------------------*/
.team {
  background: #fff;
}
.team .member {
  text-align: center;
  margin-bottom: 80px;
  position: relative;
}
.team .member .pic {
  border-radius: 4px;
  overflow: hidden;
}
.team .member img {
  transition: all ease-in-out 0.4s;
}
.team .member:hover img {
  transform: scale(1.1);
}
.team .member .member-info {
  position: absolute;
  bottom: -80px;
  left: 0px;
  right: 0px;
  background: rgba(255, 255, 255, 0.9);
  padding: 15px 0;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.team .member h4 {
  font-weight: 700;
  margin-bottom: 10px;
  font-size: 16px;
  color: #01036f;
  position: relative;
  padding-bottom: 10px;
}
.team .member h4::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #0d12fc;
  bottom: 0;
  left: calc(50% - 25px);
}
.team .member span {
  font-style: italic;
  display: block;
  font-size: 13px;
  color: #01036f;
}
.team .member .social {
  margin-top: 10px;
}
.team .member .social a {
  transition: color 0.3s;
  color: #01036f;
}
.team .member .social a:hover {
  color: #1acc8d;
}
.team .member .social i {
  font-size: 16px;
  margin: 0 2px;
}

/*--------------------------------------------------------------
# Pricing
--------------------------------------------------------------*/
.pricing .box {
  padding: 20px;
  background: #fff;
  text-align: center;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
}
.pricing h3 {
  font-weight: 400;
  margin: -20px -20px 20px -20px;
  padding: 20px 15px;
  font-size: 16px;
  font-weight: 600;
  color: #777777;
  background: #f8f8f8;
}
.pricing h4 {
  font-size: 36px;
  color: #1acc8d;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  margin-bottom: 20px;
}
.pricing h4 sup {
  font-size: 20px;
  top: -15px;
  left: -3px;
}
.pricing h4 span {
  color: #bababa;
  font-size: 16px;
  font-weight: 300;
}
.pricing ul {
  padding: 0;
  list-style: none;
  color: #444444;
  text-align: center;
  line-height: 20px;
  font-size: 14px;
}
.pricing ul li {
  padding-bottom: 16px;
}
.pricing ul i {
  color: #1acc8d;
  font-size: 18px;
  padding-right: 4px;
}
.pricing ul .na {
  color: #ccc;
  text-decoration: line-through;
}
.pricing .btn-wrap {
  margin: 20px -20px -20px -20px;
  padding: 20px 15px;
  background: #f8f8f8;
  text-align: center;
}
.pricing .btn-buy {
  background: #1acc8d;
  display: inline-block;
  padding: 8px 35px 10px 35px;
  border-radius: 50px;
  color: #fff;
  transition: none;
  font-size: 14px;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  transition: 0.3s;
}
.pricing .btn-buy:hover {
  background: #149f6e;
}
.pricing .featured h3 {
  color: #fff;
  background: #1acc8d;
}
.pricing .advanced {
  width: 200px;
  position: absolute;
  top: 18px;
  right: -68px;
  transform: rotate(45deg);
  z-index: 1;
  font-size: 14px;
  padding: 1px 0 3px 0;
  background: #1acc8d;
  color: #fff;
}

/*--------------------------------------------------------------
# F.A.Q
--------------------------------------------------------------*/
.faq .faq-list {
  padding: 0;
}
.faq .faq-list ul {
  padding: 0;
  list-style: none;
}
.faq .faq-list li + li {
  margin-top: 15px;
}
.faq .faq-list li {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  position: relative;
}
.faq .faq-list a {
  display: block;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500;
  padding: 0 30px;
  outline: none;
  cursor: pointer;
}
.faq .faq-list .icon-help {
  font-size: 24px;
  position: absolute;
  right: 0;
  left: 20px;
  color: #34e5a6;
}
.faq .faq-list .icon-show, .faq .faq-list .icon-close {
  font-size: 24px;
  position: absolute;
  right: 0;
  top: 0;
}
.faq .faq-list p {
  margin-bottom: 0;
  padding: 10px 0 0 0;
}
.faq .faq-list .icon-show {
  display: none;
}
.faq .faq-list a.collapsed {
  color: #343a40;
}
.faq .faq-list a.collapsed:hover {
  color: #1acc8d;
}
.faq .faq-list a.collapsed .icon-show {
  display: inline-block;
}
.faq .faq-list a.collapsed .icon-close {
  display: none;
}
@media (max-width: 1200px) {
  .faq .faq-list {
    padding: 0;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
.contact .info {
  width: 100%;
  background: #fff;
}
.contact .info i {
  font-size: 20px;
  color: #3f43fd;
  float: left;
  width: 44px;
  height: 44px;
  background: #f0f0ff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #010483;
}
.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #0205a1;
}
.contact .info .email, .contact .info .phone {
  margin-top: 40px;
}
.contact .info .email:hover i, .contact .info .address:hover i, .contact .info .phone:hover i {
  background: #1acc8d;
  color: #fff;
}
.contact .php-email-form {
  width: 100%;
  background: #fff;
}
.contact .php-email-form .form-group {
  padding-bottom: 8px;
}
.contact .php-email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .error-message br + br {
  margin-top: 25px;
}
.contact .php-email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .php-email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}
.contact .php-email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}
.contact .php-email-form input, .contact .php-email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}
.contact .php-email-form input {
  height: 44px;
}
.contact .php-email-form textarea {
  padding: 10px 12px;
}
.contact .php-email-form button[type=submit] {
  background: #1acc8d;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}
.contact .php-email-form button[type=submit]:hover {
  background: #34e5a6;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
