*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #2c3e50;
}
.container{
	widows: 70%;
	margin: 80px auto;
}
.container h1{
	padding: 60px;
	color: #fff;
	font-size: 46px;
	text-align: center;
}
.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.col{
	flex-basis: 50%;
	min-width: 250px;
}
.main-img{
	width: 83$;
	margin: auto;
	position: relative;
	border-radius: 6px;
	overflow: hidden;
}