Options +MultiViews
AddHandler php5-script php
AddType text/html php

RewriteEngine On
ErrorDocument 404 http://127.0.0.1/phaxad/home/public/404
ErrorDocument 403 http://127.0.0.1/phaxad/home/public/403

# Deny access to .htaccess
<Files .htaccess>
Order allow,deny
Deny from all
</Files>

# STRONG HTACCESS PROTECTION
<Files ~ "^.*\.([Hh][Tt][Aa])">
	Order allow,deny
	Deny from all
	Satisfy all
</Files>
