Options +MultiViews
AddHandler php5-script php
AddType text/html php

# error pages are already designed from Apaxaa and that's were the error would lead to..
RewriteEngine On
ErrorDocument 404 http://localhost/paxaa/errors/404


ErrorDocument 403 http://localhost/paxaa/errors/403
ErrorDocument 503 http://localhost/paxaa/errors/504
ErrorDocument 500 http://localhost/paxaa/errors/500
ErrorDocument 408 http://localhost/paxaa/errors/408

ErrorDocument 400 http://localhost/paxaa/errors/400
ErrorDocument 401 http://localhost/paxaa/errors/401

# Deny access to .htaccess
<Files .htaccess>
Order allow,deny
Deny from all
</Files>

# STRONG HTACCESS PROTECTION
<Files ~ "^.*\.([Hh][Tt][Aa])">
	Order allow,deny
	Deny from all
	Satisfy all
</Files>
# allows to use sessions in subdomain-> php_value session.cookie_domain .example.com



<If "%{REQUEST_URI} =~ m#^/app($|/)#">
    Require all denied
</If>
